
.ui.stackable.page.grid.footer
	.two.column.row.container
		.column
			if galeries
				h3.ui.header Neueste Galerien
				.ui.inverted.relaxed.link.list
					each galery in galeries
						a.item(href="/galery/" + galery._id)= galery.title
		.center.aligned.column
			h3.ui.header Reisebroschüre als PDF
			.katalog
				a(href='https://www.katalogwerkstatt.de/browseCat/ATM_So19/' target="_blank")
					img.ui.centered.small.image.broschure(src='/assets/images/broschure.jpg')
.ui.page.grid.bottomline
	.one.column.row.container
		.column.legal
			div
				span &copy; 2016 A.N.K. Tours AG |
				a.link(href='/impressum') Impressum
				|  |
				a(href='/admin') Admin
