.ui.stackable.page.grid.footer(style="padding:3rem;margin-top:3rem;")
	.two.column.row.container
		.column
			h3.ui.header Kontakt
			.ui.two.column.stackable.grid(style="line-height:2rem; font-size:1.1rem;")

				.column
					p
						| A.N.K. Tours AG
						br
						| Gerberstrasse 9
						br
						| 4410 Liestal
					
				.column
					p
						span(style="display:flex;")
							i.phone.icon(style="position:absolute; right:100%;")
							| 061 951 24 24
						span(style="display:flex;")
							i.mail.icon(style="position:absolute; right:100%;")
							a(href="mailto:info@ank-tours.ch")
								| info@ank-tours.ch
					
					div.facebook
						span Besuchen Sie uns auch auf
						a(href="https://www.facebook.com/profile.php?id=100063747422540")
							img.ui.tiny.image(src="/assets/images/facebook.svg")
						
		.center.aligned.column
			h3.ui.header Reisebroschüre als PDF
			.katalog
				a(href='/assets/katalog-2023.pdf')
					img.ui.centered.small.image.broschure(src='/assets/images/katalog-thumb.png')
					
.ui.page.grid.bottomline
	.row
		.column
			p(style="text-align:center;")
				span &copy; 2016 A.N.K. Tours AG | 
				span #[a.link(href='/impressum') Impressum] | #[a(href='/admin') Admin]
