.ui.page.grid.social(style="margin-top:4rem;")
	.row
		.center.aligned.column
			a(href="https://www.facebook.com/ANK-Tours-110451559043449/")
				button.ui.facebook.button
					i.facebook.icon
					Besuchen Sie uns auch auf facebook
