.DS_Store
.env
node_modules/
bower_components/
.app/
public/images/galeries/*
public/images/trip/*
src/secret/*.coffee
dist/
vendor/semantic/dist/
*dist.zip

.idea/
yarn-error.log

src/anktours-secret/**/*
src/anktours-secret/

vendor/jQuery-File-Upload/