[submodule "vendor/jQuery-File-Upload"]
path = vendor/jQuery-File-Upload
url = https://github.com/blueimp/jQuery-File-Upload.git

[submodule "src/anktours-secret"]
path = src/anktours-secret
url = git@github.com:graspworld/anktours-secret.git
