extends ../layouts/main

include ../../mixins

block content
	.ui.page.grid
		.container.row
			.column
				+title('Neue galerie erstellen', true)
		.whiteandshiny.container.row
			.column
				form.ui.form(method="post", action="new")
					.two.fields
						.field
							label Titel
							.ui.underlined.input
								input(placeholder='Titel', type='text', name='galery[title]', value= galery.title, required='')
						.field
							label Beginn
							.ui.underlined.input
								input#date_begin(class="date_select" type='text', value= _.formatFullDateString(galery.date_begin))
								input#date_begin_stamp(class="date_stamp" type='hidden', name='galery[date_begin]', value= galery.date_begin)
						.field
							label Ende
							.ui.underlined.input
								input#date_end(class="date_select" type='text', value= _.formatFullDateString(galery.date_end))
								input#date_end_stamp(class="date_stamp" type='hidden', name='galery[date_end]', value= galery.date_end)
					.two.fields
						.field
							label Location
							.ui.underlined.input
								input(type='text', name='galery[location]', value= galery.location, placeholder='Ort der Aufführung')

					.field(style="display:none;")
						label Details
						.ui.underlined.input
							textarea(name='galery[details]', value= galery.details, placeholder='Mehr Info...')

					button.ui.button(type="submit")
						| Weiter zu Fotos hochladen
						i.right.arrow.icon
