extends layouts/main
include mixins
block content
	+title("Unser zuverlässiges Team")
	.ui.page.grid.about
		.container.whiteandshiny.row
			.sixteen.wide.column
				.ui.stackable.grid.images
					.three.column.row
						.column
							img.ui.image(src='/assets/images/team/hanspeter_niklaus.jpg')
							.name
								.vertical-dummy
								p.text
									strong Hanspeter Niklaus
									br
									span Geschäftsführer
						.column
							img.ui.image(src='/assets/images/team/hansjoerg_gysin.jpg')
							.name
								.vertical-dummy
								p.text
									strong Hansjörg Gysin
									br
									span Carchauffeur

						.column
							img.ui.image(src='/assets/images/team/chrigi_reicher.jpg')
							.name
								.vertical-dummy
								p.text
									strong Chrigi Reicher
									br
									span Carchauffeuse
											
						.column
							img.ui.image(src='/assets/images/team/christian_honegger.png')
							.name
								.vertical-dummy
								p.text
									strong Christian Honegger
									br
									span Carchauffeur

						.column
							img.ui.image(src='/assets/images/team/rolf_baehler.jpg')
							.name
								.vertical-dummy
								p.text
									strong Rolf Bähler
									br
									span Aushilfe Carchauffeur
						.column
							img.ui.image(src='/assets/images/team/tom_weber.jpg')
							.name
								.vertical-dummy
								p.text
									strong Tom Weber
									br
									span Aushilfe Carchauffeur
						.column
							img.ui.image(src='/assets/images/team/doris_gross.jpg')
							.name
								.vertical-dummy
								p.text
									strong Doris Gross
									br
									span Reisebegleitung
						.column
							img.ui.image(src='/assets/images/team/katja_wyss.jpg')
							.name
								.vertical-dummy
								p.text
									strong Katja Wyss
									br
									span Büro / Reisebegleitung
						.column
							img.ui.image(src='/assets/images/team/daniela_heckelmann.jpg')
							.name
								.vertical-dummy
								p.text
									strong Daniela Heckelmann
									br
									span Büro

						.column
							img.ui.image(src='/assets/images/team/giuseppe_zarra.jpg')
							.name
								.vertical-dummy
								p.text
									strong Giuseppe Zarra
									br
									span Aushilfe Carchauffeur
						.column
							img.ui.image(src='/assets/images/team/monika_gysin.jpg')
							.name
								.vertical-dummy
								p.text
									strong Monika Gysin
									br
									span Reisebegleitung
						.column
							img.ui.image(src='/assets/images/team/simon_tschopp.jpg')
							.name
								.vertical-dummy
								p.text
									strong Simon Tschopp
									br
									span Aushilfe Carchauffeur
						.column
							img.ui.image(src='/assets/images/team/regina_heinimann.png')
							.name
								.vertical-dummy
								p.text
									strong Regina Heinimann
									br
									span Reisebegleitung
