html
  body
    .ui.two.column.page.grid.agb
      .whiteandshiny.container.row
        .sixteen.wide.column
          h1.ui.header Allgemeine Gesch&auml;ftsbedingungen (AGB)
      .whiteandshiny.container.row
        .column
          .ui.segment
            h2.ui.header
              i.right.floatede.info.icon
              .content
                | Allgemein
            .ui.divider
            p
              | Sie brauchen eine g&uuml;ltige Identit&auml;tskarte oder einen Pass. Wir bitten um m&ouml;glichst fr&uuml;hzeitige und schriftliche Anmeldung. Ihre Anmeldung wird von uns best&auml;tigt. Mit der Anmeldung werden die Reisebedingungen anerkannt. Die Pl&auml;tze im Autocar werden in der Reihenfolge der Anmeldung vergeben. Kleine Programm-&Auml;nderungen vorbehalten.
          .ui.segment
            h2.ui.header
              i.right.floated.suitcase.icon
              .content
                | Reisegep&auml;ck
            .ui.clearing.divider
            p
              | Die Gep&auml;ckst&uuml;cke sind mit den Etiketten, welche Sie mit den Reiseunterlagen zugestellt erhalten, zu adressieren.
              | Wir bitten Sie, das Verladen Ihres Gep&auml;cks zu &uuml;berwachen, da wir f&uuml;r eventuelle Besch&auml;digungen und Verluste keine Haftung &uuml;bernehmen k&ouml;nnen. (Reisegep&auml;ck-Versicherung)
        .column
          .ui.segment
            h2.ui.header
              i.recycle.icon
              .content
                | Stornierung
            .ui.divider
            p
              | Bei R&uuml;cktritt von einer bereits best&auml;tigten Buchung sind wir gezwungen, eine Bearbeitungsgeb&uuml;hr von Fr. 30.- zu verrechnen. Ferner m&uuml;ssen wir bei einer Stornierung weniger als 15 Tagen vor der Abreise folgende Kosten in Rechnung stellen: 30% vom Pauschalpreis 14 &ndash; 8 Tage vor der Abreise 50% vom Pauschalpreis 7 &ndash; 4 Tage vor der Abreise 100% vom Pauschalpreis 3 &ndash; 0 Tage vor der Abreise Auf Wunsch besorgen wir Ihnen eine Stornierungsgeb&uuml;hr-Versicherung. Wir beraten Sie gerne.
          .ui.segment
            h2.ui.header
              i.right.floated.life.ring.icon
              .content
                | Haftung und Versicherung
            .ui.clearing.divider
            p
              | Durch unsere Haftpflichtversicherung sind Sie w&auml;hrend der Fahrt im Autocar, im Sinne der schweizerischen Gesetzgebung, vollumf&auml;nglich versichert. Ausserhalb des Autocars besteht unsererseits keine Haftung. Auf Wunsch besorgen wir f&uuml;r Sie eine Unfall- und Reisegep&auml;ckversicherung. Wir beraten Sie gerne.
