extends layouts/main
include mixins

block content
	+title("Impressum")
	.ui.page.grid
		.whiteandshiny.container.row
			.column
				h2 Design und Programmierung Webseite
				p 
					strong Verantwortlich: 
					span Florian Rudin, Shanghai
