extends ../layouts/main

block content
	.ui.page.grid
		.row.container.whiteandshiny
			.column
				h1 Entschuldigung, die Seite scheint nicht zu existieren.
				a.ui.button(href="/")
					i.arrow.left.icon
					| Zurück zur Startseite
